{% extends 'main/base.html' %} 
{% block title %} Lists Of Items{% endblock%}
{% block content %}

<style>
    .c {
        color: 'green';
      }
      .in {
        color: 'red' !important;
      }
</style>
<section>
  <main> 
    <h1>{{ lists.name }}</h1>
    {% for item in lists.item_set.all %}
      {% if item.complete == True %}
        <li class="c">{{ item.text }} - COMPLETE</li>
      {% else %}
        <li class="in">{{ item.text }} - INCOMPLETE</li>
      {% endif %}
    {% endfor %}
  </main>
</section>
{% endblock %}


